fastapi[all]==0.75.0
pydantic>=1.9
pymongo[srv]==3.11.0
python-dotenv==0.19.2
pytest==7.0.1

# re==2.2.0
# os==3.8.0
# operator==0.9.8

keras==2.9.0
tensorflow==2.9.1
tensorflow-gpu==2.9.1

# pickle5>=0.0.12